
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* * {
  background-color: #2D2327;
} */

.grid {
   display: flex;
   justify-content: center;
}

.generation {
  display: flex;
  justify-content: center;
}

p {
  display: flex;
  color: #fe8019;
}